@use '@/hooks/Mapper/components/map/styles/eve-common-variables';

.EdgePathBack {
  fill: none;
  stroke: #6f8fa8;
  stroke-width: 3px;

  &.time1 {
    stroke: #d18b66;
    stroke-width: 4px;
  }

  &.time4 {
    stroke: #b79a63;
    stroke-width: 4px;
  }

  &.TimeCrit {
    stroke: #d18b66;
    stroke-width: 4px;
  }

  &.Hovered {
    stroke: #9db8cd;

    &.TimeCrit {
      stroke: #dca485;
    }
  }

  &.Tick {
    stroke-width: 5px;

    &.TimeCrit {
      stroke-width: 6px;
    }
  }

  &.Gate {
    stroke: #7ea77b;
  }

  &.Bridge {
    stroke: #7ea77b;

    stroke-dasharray: 10 5;
    stroke-linecap: round;
  }
}

.EdgePathFront {
  fill: none;
  stroke: #1f2a35;
  stroke-width: 2px;

  &.MassVerge:not(&.Frigate) {
    stroke: #b65353;
  }

  &.MassHalf:not(&.Frigate) {
    stroke: #c7a65c;
  }

  &.Frigate {
    stroke: #a8cadf;
  }

  &.Gate {
    stroke: #1d2822;
  }

  &.Hovered {
    stroke: #53697b;
    stroke-width: 2px;

    &.MassVerge:not(&.Frigate) {
      stroke: #9d4c34;
    }

    &.MassHalf:not(&.Frigate) {
      stroke: #ec992c;
    }

    &.Frigate {
      stroke: #a8cadf;
    }
  }

  &.Tick {
    stroke-width: 3px;

    &.Hovered {
      stroke-width: 3px;
    }
  }
}

.ClickPath {
  fill: none;
  stroke: none;
  stroke-width: 8px;
}

.Handle {
  border: 1px solid var(--pastel-blue);
  width: 5px;
  height: 5px;
  z-index: 1001;

  &.Tick {
    width: 7px;
    height: 7px;
  }

  &.Right {
    margin-left: 0px;
  }
}

.LinkLabel {
  font-size: 9px;
  line-height: 10px;
  padding: 2px 4px;
  opacity: 1;

  & > span {
    font-weight: bold;
  }
}

.icon {
  width: 8px;
  height: 8px;
  font-size: 8px;
}
